@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(219, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  margin-bottom: 1rem;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  background-color: var(--light-gray);
  width: 100vw;
  min-height: 100vh;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--white);
  border-radius: 15px;
  width: 90%;
  max-width: 20rem;
  margin: 0 auto;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
}

.card img {
  border-radius: 10px;
}

.card h1 {
  font-size: 1.2rem;
  color: var(--dark-blue);
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.card p {
  color: var(--grayish-blue);
  margin-bottom: 1.1rem;
  padding-inline: .5rem;
}
/* attribution */
.attribution {
  margin-top: 1rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.attribution svg {
  width: 4rem;
  height: auto;
  margin-left: 1rem;
}
